.verify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.title-txt {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}
.resend-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
button {
    background-color: #3498db;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #2980b9;
}