.div-room-container{
    padding: 20px;
}
.div-room-container .div-form-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.div-room-container .div-form-container .div-input-container{
    display: flex;
    justify-content: space-between;
}

.div-room-container .div-form-container .div-input-container select{
    font-size: inherit;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: #CCCC 1px solid;
}