.card-product {
    width: 300px;
    /* Đặt chiều rộng của thẻ card */
    border: 1px solid #ccc;
    /* Đặt viền cho thẻ card */
    border-radius: 5px;
    /* Đặt viền cong cho thẻ card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Đặt bóng cho thẻ card */
    overflow: hidden;
    /* Ngăn việc nội dung tràn ra ngoài thẻ card */
}

.card-product img {
    width: 100%;
    /* Đảm bảo hình ảnh bên trong thẻ card chiếm toàn bộ chiều rộng */
    height: auto;
    /* Đảm bảo tỷ lệ khung hình ảnh không bị bóp méo */
}

.card-content-text {
    padding: 20px;
    /* Tạo khoảng cách giữa nội dung và viền của thẻ card */
}

.card-content-text h3 {
    margin-top: 0;
    /* Loại bỏ khoảng cách trên của tiêu đề */
}

.card-content-text p {
    margin: 0;
    /* Loại bỏ khoảng cách xung quanh của đoạn văn */
}