/* Container styles */
.list-product-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Title styles */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Search container styles */
.search-product-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
}

.create-link {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    font-size: 14px;
}

.create-link:hover {
    background-color: #0056b3;
}

/* Table container styles */
.product-table-container {
    overflow-x: auto;
    white-space: nowrap;

}

/* Table styles */
.product-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    white-space: nowrap;
    border: 1px solid #ddd;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    min-width: 100px;
    overflow: hidden;
    max-width: 400px;
}

.product-table th {
    background-color: #d3d3d3;
    height: 40px;
    text-align: center;
}

/* Action column styles */
.product-table th:first-child,
.product-table td:first-child {
    text-align: center;
    width: 40px;
}

.product-table td:last-child,
.product-table th:last-child {
    max-width: 80px;
    position: sticky;
    right: 0;
    background-color: #d3d3d3;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    transition: max-width 0.3s; /* Thêm transition để tạo hiệu ứng mềm mại */
}

.product-table td:last-child:hover,
.product-table th:last-child:hover {
    max-width: none;
    transition: max-width 0.3s; /* Thêm transition để tạo hiệu ứng mềm mại */
}

/* Image styles */
.product-image {
    display: block;
    margin-bottom: 5px;
}

/* Detail link styles */
.detail-link {
    text-decoration: none;
    color: #007bff;
    margin: 5px;
}

.detail-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Table cell containing images */
.product-table td.image-cell {
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Enable horizontal scrolling */
}

.product-table td.image-cell img {
    display: inline-block;
    /* Ensure images are displayed inline */
    margin-right: 5px;
    /* Add some spacing between images */
    height: auto;
    border: 1px solid grey;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* Maintain aspect ratio */
}